<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'encuestas/encuestas.css' %}">

<head>
    Página para habilitar/deshabilitar encuestas
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>Año</th>
                <th>Cuatrimestres</th>
                <th>Para</th>
                <th>Desde</th>
                <th>Hasta</th>
                <th>En vigencia</th>
                <th>Cambiar</th>
                <th>Borrar</th>
            </tr>
        </thead>
        {% for habi in habilitadas %}
        <tr>
            <td>{{ habi.anno }}</td>
            <td>{{ habi.cuatrimestres_str }}</td>
            <td>{{ habi.tipo_str }}</td>
            <td>{{ habi.desde|date:"d/m/Y H:i" }}</td>
            <td>{{ habi.hasta|date:"d/m/Y H:i" }}</td>
            <td>{% if habi.es_valida_ahora %}✔{% else %}✘{% endif %}</td>
            <td><a href="{% url 'encuestas:cambiar_habilitacion' habi.id %}">Cambiar</a></td>
            <td><input type="button" name="borrar{{ habi.id }}" value="Borrar"></td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'encuestas:agregar_habilitacion' %}">Habilitar otra encuesta</a>
</body>

