<!DOCTYPE html>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'encuestas/encuestas.css' %}">

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <br>{% if message.tags %} [{{ message.tags }}] {% endif %} {{ message }}</br>
    {% endfor %}
</div>
{% endif %}

<div id="titulo">Encuesta para {{ anno }}</div>

<form action="{% url 'encuestas:encuesta' anno cuatrimestres tipo_docente %}" method="post">
{% csrf_token %}

<p>
    <div id="pregunta">Docente:</div>
    <select name="docente">
        {% for docente in docentes %}
        <option value="{{ docente.id }}"
                {% if docente.id == docente_selected %}selected{% endif %}
        >{{ docente.nombre }}</option>
        {% endfor %}
    </select>
</p>

<hr>

{% for cuatrimestre, infocuat in opciones_por_cuatrimestre.items %}
    <p>
        <div id="subtitulo">Preferencias para el
            {% if cuatrimestre.name == "P" %}
            primer cuatrimestre
            {% elif cuatrimestre.name == "S" %}
            segundo cuatrimestre
            {% else %}
            cuatrimestre de verano
            {% endif %}
        </div>
        <div id=pregunta>Cantidad de turnos que quiere cubrir:
            <input id=cargas type="number" name="cargas{{ cuatrimestre.name }}" min=0 max=3 value=
            {% if cuatrimestre.name == "P" %} {{ cargasP }}
            {% elif cuatrimestre.name == "S" %} {{ cargasS }}
            {% else %} {{ cargasV }}
            {% endif %}
            >
        </div>
    </p>

    <p>
    <div id="pregunta">Turnos preferidos</div>
    {% for i, lista_corta, elegido, peso in infocuat.opciones %}
        <div id="seleccion">
            <select name="opcion{{ cuatrimestre.name }}{{ i }}">
                {% for turno in infocuat.turnos %}
                <option value="{{ turno.id }}"
                        {% if lista_corta and not turno.dificil_de_cubrir %}disabled{% endif %}
                        {% if turno.id == elegido %}selected{% endif %}>
                {{ turno.texto }}
                </option>
                {% endfor %}
            </select>
            Peso: <input id=peso type="number" name="peso{{ cuatrimestre.name }}{{ i }}" min=0 max={{ maximo_peso }} value={{ peso }}>
        </div>
    </p>
    {% endfor %}

<hr>

{% endfor %}

<p>
    <div id="subtitulo">email</div>
    <input type="email" name="email" value="{{ email }}">
</p>

<p>
    <div id="subtitulo">Teléfono</div>
    <input type="tel" name="telefono" value="{{ telefono }}">
</p>

<p>
    <div id="subtitulo">Comentarios</div>
    <textarea name="comentario" cols=120 rows=3>{{ comentario }}</textarea>
</p>


<p>
<input type="submit" value="mandar">
</form>
