<!DOCTYPE html>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'encuestas/encuestas.css' %}">

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <br>{% if message.tags %} [{{ message.tags }}] {% endif %} {{ message }}</br>
    {% endfor %}
</div>
{% endif %}

<div id="titulo">Encuesta para el cuatrimestre {{ cuatrimestre_value }} de {{ anno }}</div>

<form action="{% url 'encuestas:encuesta' anno cuatrimestre tipo_docente %}" method="post">
{% csrf_token %}

<div id="subtitulo">Nombre:</div>
<select name="docente">
    {% for docente in docentes %}
    <option value="{{ docente.id }}">{{ docente }}</option>
    {% endfor %}
</select>

<p>
<div id="subtitulo">Turnos elegidos</div>
{% for i, lista_larga in opciones %}
    <div id="seleccion">
        <select name="opcion{{ i }}">
            <option value="" selected></option>
            {% for turno in turnos %}
            <option value="{{ turno.id }}" {% if not turno.dificil_de_cubrir and not lista_larga %}disabled{% endif %}>
            {{ turno }} ({{ turno.horarios_info.diayhora }})
            </option>
            {% endfor %}
        </select>
        Peso: <input type="number" name="peso{{ forloop.counter }}" min=0 max={{ maximo_peso }} value=1>
    </div>
</p>
{% endfor %}

<p>
    <div id="subtitulo">Comentarios</div>
    <textarea name="comentarios" cols=120 rows=3></textarea>
</p>


<p>
<input type="submit" value="mandar">
</form>
