<h1>encuesta para el cuatrimestre {{ cuatrimestre }} de {{ anno }}</h1>

<form action="{% url 'encuestas:encuesta' anno cuatrimestre tipo_docente %}" method="post">
{% csrf_token %}

<select name="docente">
{% for docente in docentes %}
    <option value="{{ docente.id }}">{{ docente }}</option>
{% endfor %}
</select>

{% for i in i|rjust:5 %}
    <p>
    <select name="opcion{{ forloop.counter }}">
        <option value="" selected></option>
        {% for turno in turnos %}
        <option value="{{ turno.id }}">{{ turno }} ({{ turno.horarios_info.diayhora }})</option>
        {% endfor %}
    </select>
    Peso: <input type="number" name="peso{{ forloop.counter }}" min=0 value=1>
{% endfor %}


<p>
<input type="submit" value="mandar">
</form>
