<!DOCTYPE html>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'encuestas/encuestas.css' %}">

<h1>Gracias por completar la encuesta</h1>

<h2>Se salvaron estas opciones para {{ docente }}</h2>

<table border="1" cellspacing="0" cellpadding="5">
    {% for cuatrimestre, opciones_cuat in opciones.items %}
        {% for opcion in opciones_cuat %}
        <tr><td>{{ opcion.turno }}</td><td>Peso: {{ opcion.peso }}</td></tr>
        {% endfor %}
    {% endfor %}
</table>

<h2>Otros datos guardados</h2>
<dl>
    <dt>email:</dt>       <dd>{{ email }}</dd>
    <dt>teléfono:</dt>    <dd>{{ telefono }}</dd>
    <dt>comentarios:</dt> <dd>{{ comentario }}</dd>
</dl>
