<!DOCTYPE html>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'encuestas/encuestas.css' %}">

<h1>Gracias por completar la encuesta</h1>

<h2>Se salvaron estas opciones para {{ docente }}</h2>

    {% for cuatrimestre, opciones_cuat in opciones.items %}
    <div id=pregunta>Opciones para el
        {% if cuatrimestre.name == "P" %}
        primer cuatrimestre
        {% elif cuatrimestre.name == "S" %}
        segundo cuatrimestre
        {% else %}
        cuatrimestre de verano
        {% endif %}
    </div>
    <table border="1" cellspacing="0" cellpadding="5">
            {% for opcion in opciones_cuat %}
            <tr><td>{{ opcion.turno.str_corto }} ({{ opcion.turno.horarios_info.diayhora }})</td><td>Peso: {{ opcion.peso }}</td></tr>
            {% endfor %}
    </table>
    {% endfor %}

<h2>Otros datos guardados</h2>
<dl>
    <dt>email:</dt>       <dd>{{ email }}</dd>
    <dt>teléfono:</dt>    <dd>{{ telefono }}</dd>
    <dt>comentarios:</dt> <dd>{{ comentario }}</dd>
</dl>
