table#cargas_docentes
{
  border: 1;
}

table#cargas_docentes thead,
table#administrar_materia th
{
  background: darkslateblue;
  color: #fff;
  text-align: center;
}

table#cargas_docentes td
{
  padding: 5px;
  border: 1px solid black; 
}

table#cargas_docentes td#docente
{
  font-weight: bold;
}

table#cargas_docentes td.comentario
{
  width: 80em;
  font-size: small;
}

table#cargas_docentes td#numero,
table#cargas_docentes td.numero
{
  text-align: center;
}

ul.administrar_listado li
{
  padding-top: 1em;
}

table#administrar_materia
{
  margin: 20px;
}
table#administrar_materia td
{
  border: 1px solid black;
  padding: 5px;
}

.destacado
{
  font-size: large;
  font-weight: bolder;
}

.separados li {
  margin: 4px 0;
}

a.muchos:link, a.muchos:visited
{
  background: #eee;
  color: blue;
}

a.muchos:link:hover, a.muchos:visited:hover
{
  background: #bbb;
  color: blue;
}
