span#cantidad mark#bien {
  background: #8d8;
  opacity: 0.5;
}

span#cantidad mark#maso {
  background: #ff4;
  opacity: 0.7;
}

span#cantidad mark#mal {
  background: #f44;
  opacity: 0.9;
}

td.necesidades,
th.necesidades {
  width: 6em;
}

td.necesidades mark {
  display: table-cell;
  padding: 4px;
}

td.necesidades mark#bien {
  background: #8d8;
  opacity: 0.5;
}

td.necesidades mark#maso {
  background: #ff4;
  opacity: 0.7;
}

td.necesidades mark#mal {
  background: #f44;
  opacity: 0.9;
}

th.separado {
  width: 8em;
}

#actuar,
li input {
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
  border: 2px solid #238;
  padding: 5px;
  margin: 5px;
  font-size: large;
  color: black;
  width: max-content;
  cursor: pointer;
}

#actuar:hover,
li input:hover {
  background-color: #238;
  color: white;
}

#actuar a,
a #actuar {
  text-decoration: none;
  color: black;
}

#actuar a:hover {
  color: white;
}

h1 {
  text-align: center;
  font-weight: lighter;
  color: #111;
  background: #eee;
}

h2 {
  text-align: center;
  font-weight: lighter;
  color: #444;
  background: #ddf;
}

h3 {
  text-align: center;
  font-weight: lighter;
  color: #666;
  background: #ccf;
}
