.messages
{
  font-size: 24px;
  color: red;
}

.subseccion #titulo
{
  font-size: 20px;
  font-weight: bold;
}

.subseccion #problema
{
  font-size: 18px;
  color: red;
}

.subeccion li
{
  color: black;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: max-content;
  background-color: #444;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 120px;
  padding: 6px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip .tooltiptext .titulo {
  text-decoration: underline; 
}
