<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'materias/horarios.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dborrador/dborrador.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dborrador/indice.css' %}">

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'dborrador/scripts.js' %}"></script>

<head>
    <title>Zona de borrador de distribución</title>
</head>

<div class="partido izquierda">
{% block indice %}
    <h2>Qué hacer</h2>
    {% if anno %}

    <form action="{% url 'dborrador:distribucion' anno cuatrimestre intento_algoritmo intento_manual %}" method="post">
    {% csrf_token %}
    <ul style="list-style-type:none;">
        <li>Año: {{ anno }} <input type="hidden" name="anno" value="{{ anno }}"></li>
        <li>Cuatrimestre: {{ cuatrimestre }} <input type="hidden" name="cuatrimestre" value="{{ cuatrimestre }}"></li>
        <li>Intento: <input type="number" name="intento_algoritmo" min="0" max="{{ max_intento_algoritmo }}" value="{{ intento_algoritmo }}" style="width:2em">
        <input type="range" name="intento_manual" min="0" max="{{ max_intento_manual }}" value="{{ intento_manual }}" style="width:12em">
            <input type="submit" name="distribucion" value="mirar">
    </ul>
    </form>

    <div class="base_opciones">
    <ul>
        <li> <a href="{% url 'dborrador:preparar' anno cuatrimestre %}">copiar encuestas</a></li>
        <button id="distribuir">Correr el algoritmo</button>

        <div id="preguntas_distribucion_algoritmo" title="Correr el algoritmo">
            <form action="{% url 'dborrador:seleccion_tipo_distribuir' anno cuatrimestre intento_algoritmo intento_manual %}" method="post">
            {% csrf_token %}

                {% if intento < max_intento %}
                <div class="subseccion"><div id="titulo">Cuidado</div></div>
                El intento en el que vas a distribuir, {{ intento_algoritmo }}, no es el último.
                Vas a borrar lo que hayas hecho después de este intento.
                {% endif %}

                <p> Elegí el tipo de docente </p>
                <select name="tipo">
                    {% for t in tipos %}
                    <option value="{{ t.name }}">{{ t.value }}</option>
                    {% endfor %}
                </select>

                <input type="submit" name="hacer_distribucion" value="Sí, quiero distribuir">
            </form>
        </div>

    </ul>
    </div>


    {% else %}

    <form action="{% url 'dborrador:empezar' %}" method="post">
        {% csrf_token %}
        <ul style="list-style-type:none;">
            <li> Año: 
                <select name="anno">
                    {% for a in annos %}
                    <option value="{{ a }}">{{ a }}</option>
                    {% endfor %}
                </select>
            </li>

            <li> Cuatrimestre: 
                <select name="cuatrimestre">
                    {% for c in cuatrimestres %}
                    <option value="{{ c.name }}">{{ c.value }}</option>
                    {% endfor %}
                </select>
            </li>
            <input type="submit" name="distribuir" value="Comenzar a distribuir">
        </ul>
    </form>

    {% endif %}

{% endblock indice %}
</div>


<div class="partido derecha">
<h3>{% block subtitulo %}{% endblock subtitulo %}</h3>
{% block cuerpo %}{% endblock cuerpo %}
</div>
