<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'dborrador/dborrador.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dborrador/indice.css' %}">
<head>
    <title>Zona de borrador de distribución</title>
</head>

<div class="partido izquierda">
{% block indice %}
    <h2>Qué hacer</h2>
    <ul>
        <li> <a href="{% url 'dborrador:preparar' %}">copiar encuestas</a></li>
        <li> <a href="{% url 'dborrador:distribuir' %}">hacer una distribución</a></li>
        <li> <a href="{% url 'dborrador:index' %}">Ver una distribución</a></li>
    </ul>
{% endblock indice %}
</div>


<div class="partido derecha">
<h3>{% block subtitulo %}{% endblock subtitulo %}</h3>
{% block cuerpo %}{% endblock cuerpo %}
</div>
