{% extends "dborrador/base.html" %}

{% load static %}
{% load dborrador_tags %}

{% block subtitulo %}
Cambiar a {{ carga.docente }} de turno
{% endblock subtitulo %}


{% block cuerpo %}

<link rel="stylesheet" type="text/css" href="{% static 'materias/horarios.css' %}">

<div class="subseccion">

    <p> <div id="titulo">Actual:</div> {{ asignado }} </p>

    <form id="cambiar_docente"
        action="{% url 'dborrador:cambiar_docente' anno cuatrimestre.name intento_algoritmo intento_manual carga.id %}" method="post">
        {% csrf_token %}

        <div id="titulo">Cambiar a</div>
        <select name="cambio_a">
            <option value="{{ no_turno.id }}" {% if turno.id == asignado.id %}selected{% endif %}>{{ no_turno }}</option>

            <optgroup label="Pedidos en la encuesta">
                {% for turno, peso in turnos_preferidos.items %}
                <option value="{{ turno.id }}" {% if turno.id == asignado.id %}selected{% endif %}>
                {% if peso <= 1 %}({{ peso|floatformat:4 }}){% endif %}: 
                {{ turno.str_corto }}, {{ turno.horarios_info.diayhora }}
                </option>
                {% endfor %}
            </optgroup>

            <optgroup label="No pedidos">
                {% for turno in turnos_no_preferidos %}
                <option value="{{ turno.id }}" {% if turno.id == asignado.id %}selected{% endif %}>
                {{ turno.str_corto }}, {{ turno.horarios_info.diayhora }}
                </option>
                {% endfor %}
            </optgroup>
        </select>

        <p> <div id="titulo">Preferencias:</div> 
            <ul>
            {% for preferencia in preferencias %}
            <li> {{ preferencia.preferencia.turno }} ({{ preferencia.peso_normalizado|floatformat:4 }})</li>
            {% endfor %}
            </ul>
            </p>

            <p>
                <div class="titulo">Comentarios</div>
                <ul>
                    {% for od in carga.docente.otrosdatos_set|de_este_anno:anno|de_este_cuatrimestre:cuatrimestre.name %}
                    <li>
                        <div class="{% if od.tipo_docente == tipo_docente %}corresponde{% else %}nocorresponde{% endif %}">
                            {{ od.fecha_encuesta }}
                            <br>{{ od.comentario }}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </p>

        <p> <div id="titulo">Cargo:</div> {{ cargo.value }} </p>

        <p> <div id="titulo">Cargo que ocuparía:</div>
            <select name="cargo_que_ocupa">
                {% for c in cargos %}
                <option value="{{ c.name }}" {% if c == cargo %}selected{% endif %}>{{ c.value }}</option>
                {% endfor %}
            </select>
        </p>

        <p>
            <div id="actuar">
                <div id="cambiar_docente" value="cambiar">Hacer el cambio</div>
                <input type="hidden" name="cambiar">
            </div>
            <div id="actuar">
                <a href="{% url 'dborrador:distribucion' anno cuatrimestre.name intento_algoritmo intento_manual %}">Cancelar</a>
                </a>
            </div>
        </p>

        <div id="cambiar_docente_dialogo" title="¿Seguro?">
            {% if es_maximo_intento %}
            (obs: No hay nada que se vaya a perder)
            {% else %}
            <p> Mirá que perdés lo que viene después </p>
            {% endif %}
        </div>

    </form>

</div>


{% endblock cuerpo %}
