{% extends "dborrador/base.html" %}

{% load static %}


{% block subtitulo %}
    Hacer una distribución
{% endblock subtitulo %}

{% block cuerpo %}
    {% if messages %}
    <b>El intento {{ intento }} está roto. Hay que reorganizarlo manualmente</b>
    <div class="messages">
        {% for message in messages %}
        <br>{% if message.tags %} [{{ message.tags }}] {% endif %} {{ message }}</br>
        {% endfor %}
    </div>
    {% endif %}

    <form action="{% url 'dborrador:distribuir' %}" method="post">
    {% csrf_token %}

    <br>Intento: <input type="number" name="intento" min=1 value=1>
    <br>{% include "dborrador/form_act.html" with texto_submit="distribuir" %}
{% endblock cuerpo %}
