{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'materias/horarios.css' %}">

<form action="{% url 'dborrador:distribucion' anno cuatrimestre intento %}" method="post">
{% csrf_token %}
    Ver intento: <input type="number" name="nuevo_intento" value={{ intento }}>
    <input type="submit" value="cambiar">
    <input type="hidden" name="anno" value="{{ anno }}">
    <input type="hidden" name="cuatrimestre" value="{{ cuatrimestre }}">
</form>

<div class="info">Distribución, para {{ anno }}, cuatrimestre {{ cuatrimestre }}, intento {{ intento }}</div>

{% for tipo, lista in materias %}

<div class="seccion">{{ tipo }}</div>

    {% for materia, turnos in lista %}

    {% if turnos %}
    <table class="contentbold" border="1" cellspacing="0" cellpadding="5" frame="hsides">
        <thead><div class="nombremateria">{{ materia.nombre.upper }}</div></thead>
        <tbody>
        {% for turno in turnos %}
            <tr>

            <td class="fondo{{ turno.tipo }}">{{ turno.horarios_info.tipoynumero }}</td>
            <td>{{ turno.horarios_info.diayhora }}</td>
            <td>{{ turno.docentes_asignados }}</td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% endfor %}

{% endfor %}
