{% extends "dborrador/base.html" %}

{% load static %}

{% block subtitulo %}
Fijar docentes a intento {{ intento }}
{% endblock subtitulo %}


{% block cuerpo %}

<link rel="stylesheet" type="text/css" href="{% static 'materias/horarios.css' %}">

    {% for tipo, lista in materias %}
    <div class="seccion">{{ tipo }}</div>

        {% for materia, turnos in lista %}

            {% if turnos %}
            <table class="contentbold" border="1" cellspacing="0" cellpadding="5" frame="hsides">
                <thead><div class="nombremateria">{{ materia.nombre.upper }}</div></thead>
                <tbody>
                    {% for turno in turnos %}
                    <tr>

                        <td rowspan=2 class="fondo{{ turno.tipo }}">{{ turno.horarios_info.tipoynumero }}</td>
                        <td rowspan=2 class="diayhora">{{ turno.horarios_info.diayhora }}</td>
                        <td class="datosdoc">
                            <div class="cargas_fijas">
                                <ul>
                                    {% for tipo, cargas_turno in turno.cargas %}
                                    {% if cargas_turno %}
                                    <li>
                                        {{ tipo.value }}: {% for carga in cargas_turno %} {{ carga.docente.nombre }} {% endfor %}
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>

                            {% comment %}<div class="este_tipo">{% for carga in turno.datos.asignaciones_este_tipo %}{% endcomment %}
                            {% comment %}    <select name="cambioen_{{ turno.id }}_{{ carga.id }}">{% endcomment %}
                            {% comment %}        <option value=-1>------</option>{% endcomment %}
                            {% comment %}        <option value={{ carga.id }} selected>{{ carga.docente.nombre }}</option>{% endcomment %}
                            {% comment %}    </select>{% endcomment %}
                            {% comment %}    {% endfor %}</div>{% endcomment %}

                            {% comment %}{% if turno.datos.necesidades_no_cubiertas %}{% endcomment %}
                            {% comment %}{% for i in 0|rjust:turno.datos.necesidades_no_cubiertas %}{% endcomment %}
                            {% comment %}<div class="no_cubiertas">{% endcomment %}
                            {% comment %}    <select name="fijoen_{{ turno.id }}_{{ forloop.counter }}">{% endcomment %}
                            {% comment %}        <option value=-1 selected>------</option>{% endcomment %}
                            {% comment %}        {% for nueva_carga in cargas_a_distribuir %}{% endcomment %}
                            {% comment %}        <option value={{ nueva_carga.id }}>{{ nueva_carga.docente.nombre }}</option>{% endcomment %}
                            {% comment %}        {% endfor %}{% endcomment %}
                            {% comment %}    </select>{% endcomment %}
                            {% comment %}</div>{% endcomment %}
                            {% comment %}{% endfor %}{% endcomment %}
                            {% comment %}{% endif %}{% endcomment %}

                            <div class="otro_tipo">{% for carga in turno.datos.asignaciones_otro_tipo %}{{ carga.docente.nombre }}{% endfor %}</div>
                        </td>
                        <td rowspan=2 class="comentarios"><textarea name="comentarios_{{ turno.id }}" cols=60 rows=2>{{ turno.datos.comentarios }}</textarea></td>
                    </tr>
                    <tr>
                        <td class="datosdoc">
                            <div class="cargas_en_distribucion">
                                <ul>
                                    {% for tipo, asignaciones_turno in turno.asignaciones %}
                                    {% if asignaciones_turno %}
                                    <li>
                                        {{ tipo.value }}: {% for asignacion in asignaciones_turno %} {{ asignacion.carga.docente }}{% endfor %}
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
            {% endif %}

        {% endfor %}

    {% endfor %}

{% endblock cuerpo %}
