<h1>Copiado de encuestas al borrador</h1>

Para poder ensayar distribuciones, copiamos las encuestas a una zona de "borrador",
donde las podemos cambiar sin tocar los originales.

<b>Observación</b>: se van a borrar todas las encuestas ya copiadas a la zona de borrador.

<br>¿Qué año, cuatrimestre y tipo de docente querés distribuir?

<p>
<form action="{% url 'dborrador:preparar' %}" method="post">
{% csrf_token %}
Año: 
<select name="anno">
    {% for a in annos %}
    <option value="{{ a }}">{{ a }}</option>
    {% endfor %}
</select>

Cuatrimestre: 
<select name="cuatrimestre">
    {% for c in cuatrimestres %}
    <option value="{{ c.name }}">{{ c.value }}</option>
    {% endfor %}
</select>

Tipo de docentes: 
<select name="tipo">
    {% for t in tipos %}
    <option value="{{ t.name }}">{{ t.value }}</option>
    {% endfor %}
</select>

<input type="submit" value="copiar">
