{% extends "dborrador/base.html" %}

{% load static %}

{% block subtitulo %}
Fijar docentes a intento {{ intento }}
{% endblock subtitulo %}

{% block cuerpo %}
<link rel="stylesheet" type="text/css" href="{% static 'materias/horarios.css' %}">

<form action="{% url 'dborrador:fijar' anno cuatrimestre tipo intento %}" method="post">
    <p>
        <div class="subseccion"><div id="titulo">Ver otra distribución</div>
            {% csrf_token %}
            Ver intento: <input type="number" name="nuevo_intento" value={{ intento }}>
            <input type="submit" name="cambiar" value="ver nuevo intento">
            <input type="hidden" name="anno" value="{{ anno }}">
            <input type="hidden" name="cuatrimestre" value="{{ cuatrimestre }}">
            <input type="hidden" name="tipo" value="{{ tipo }}">
        </div>
    </p>

    {% for accion in acciones %}
        {% if accion.incluir_en_pagina %}
        <p>
            <div class="subseccion"><div id="titulo">{{ accion.titulo }}</div>
                <input type="submit"
                       {% if accion.texto_on_click %} onclick="return confirm('{{ accion.texto_on_click }}')" {% endif %}
                name="fijar" value="{{ accion.value }}">
            </div>
        </p>
        {% endif %}
    {% endfor %}


    <p>
        <div class="subseccion"><div id="titulo">Problemas encontrados</div>
            {% if problemas.recargas %}
            <div id="problema">Cargas docentes repetidas</div>
            <ul>
                {% for carga, asignaciones in problemas.recargas.items %}
                <li>{{ carga.docente }} está asignada/o en la misma carga para
                    <ol>
                        {% for asignacion in asignaciones %}
                        <li>{{ asignacion.turno }} en el intento {{ asignacion.intento }}</li>
                        {% endfor %}
                    </ol>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if problemas.cargas_no_distribuidas %}
            <div id="problema">Cargas docentes sin distribución</div>
            <ul>
                {% for carga, encuestas in problemas.cargas_no_distribuidas %}
                <li>
                    <div class="tooltip">{{ carga.docente }}
                        <span class="tooltiptext">
                            <span class="titulo">Encuesta de {{ carga.docente }}:</span>
                            <ul>{% for preferencia in encuestas %}
                                <li>{{ preferencia.preferencia.turno }} ({{preferencia.peso_normalizado|floatformat:4}})</li>
                                {% endfor %}
                            </ul>
                        </span>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if problemas.necesidades_no_cubiertas %}
            <div id="problema">Turnos con necesidades insatisfechas</div>
            <ul>
                {% for turno, necesidad in problemas.necesidades_no_cubiertas %}
                <li>{{ turno }} necesita <b>{{ necesidad }}</b> docente(s)</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        {% for tipo, lista in materias %}
        <div class="seccion">{{ tipo }}</div>

        {% for materia, turnos in lista %}

        {% if turnos %}
        <table class="contentbold" border="1" cellspacing="0" cellpadding="5" frame="hsides">
            <thead><div class="nombremateria">{{ materia.nombre.upper }}</div></thead>
            <tbody>
                {% for turno in turnos %}
                <tr>

                    <td class="fondo{{ turno.tipo }}">{{ turno.horarios_info.tipoynumero }}</td>
                    <td class="diayhora">{{ turno.horarios_info.diayhora }}</td>
                    <td class="datosdoc">

                        <div class="este_tipo_fijo">{% for carga in turno.datos.asignaciones_este_tipo_fijo %}{{ carga.docente.nombre }}{% endfor %}</div>

                        <div class="este_tipo">{% for carga in turno.datos.asignaciones_este_tipo %}
                            <select name="cambioen_{{ turno.id }}_{{ carga.id }}">
                                <option value=-1>------</option>
                                <option value={{ carga.id }} selected>{{ carga.docente.nombre }}</option>
                            </select>
                            {% endfor %}</div>

                        {% if turno.datos.necesidades_no_cubiertas %}
                        {% for i in 0|rjust:turno.datos.necesidades_no_cubiertas %}
                        <div class="no_cubiertas">
                            <select name="fijoen_{{ turno.id }}_{{ forloop.counter }}">
                                <option value=-1 selected>------</option>
                                {% for nueva_carga in cargas_a_distribuir %}
                                <option value={{ nueva_carga.id }}>{{ nueva_carga.docente.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% endfor %}
                        {% endif %}

                        <div class="otro_tipo">{% for carga in turno.datos.asignaciones_otro_tipo %}{{ carga.docente.nombre }}{% endfor %}</div>
                    </td>
                    <td class="comentarios"><textarea name="comentarios_{{ turno.id }}" cols=60 rows=2>{{ turno.datos.comentarios }}</textarea></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% endfor %}

        {% endfor %}
</form>

{% endblock cuerpo %}
