.messages
{
  font-size: 24px;
  color: red;
}

div#titulo
{
  font-weight: bolder;
  font-size: xx-large;
  color: #104040;
  margin-bottom: 20px;
}

div#subtitulo
{
  font-weight: bold;
  font-size: x-large;
  color: #207070;
}

div#seleccion
{
  font-size: large;
}

dl dt
{
  font-weight: bold;
  font-size: larger;
}
