<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'materias/horarios.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'materias/administrar.css' %}">

<h1>Cambio en las cargas docentes de {{ docente }}</h1>

<div id="actuar">
    <a href="{% url 'materias:administrar_cargas_docentes' anno cuatrimestre %}">Volver a la página de cargas_docentes</a>
</div>

<div class="subtitulo">
    Cargo{{ docente.cargos|length|pluralize }}: {% for cargo in docente.cargos %}{{ cargo }}{% endfor %}
</div>

<div class="subtitulo">
    Cargas que pidió en la encuesta: {% if completo_la_encuesta %}{{ cargas_pedidas }}{% else %}no completó la encuesta{% endif %}
</div>

<form action="{% url 'materias:administrar_cargas_un_docente' anno cuatrimestre docente.id %}" method="post">
    {% csrf_token %}

    <input type=submit name="salvar" value="salvar">

    <table id=cargas>
        <thead>
            <td>Cargo</td>
            <td>Asignadas hasta ahora</td>
            <td>Le asignamos desde ahora</td>
        </thead>

        <tbody>
            {% for cargo, cantidad in cargas_por_tipo.items %}
            <tr>
                <td>{{ cargo }}</td>
                <td>{{ cantidad }}</td>
                <td><input type=number name="cargo_{{ cargo }}" min=0 max=3 value={{ cantidad }}></td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</form>
