<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'materias/general.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'materias/horarios.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'materias/administrar.css' %}">

<head>
    <h2>
        {{ docente.nombre }}
    </h2>
</head>
<body>
    <div id="actuar">
        <a href="{% url 'materias:administrar_docentes' %}">Volver a todos los docentes</a>
    </div>
    <form action="{% url 'materias:administrar_un_docente' docente.id %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input id="actuar" type="submit" value="salvar">
    </form>
</body>

