<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'materias/horarios.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'materias/general.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'materias/administrar.css' %}">

<head>
    <h2>
        {{ docente.nombre }}
    </h2>
</head>
<body>
    <div id="actuar">
        <a href="{% url 'materias:administrar_docentes' %}">Volver a todos los docentes</a>
    </div>

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

    <form action="{% url 'materias:administrar_un_docente' docente.id %}" method="post">
    {% csrf_token %}

    <div id="tabladoscolumnas">
        <table id="cargas_docentes">
            {% for field in form %}
            <tr>
                <td> {{ field.label_tag }} </td>
                <td> {{ field }} </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <input id="actuar" type="submit" name="agregar_carga" value="agregarle una carga en un turno">

    <input id="actuar" type="submit" name="salvar" value="salvar">

    {% if not docente.carga_set.count %}
    <p>
        Este docente no tiene cargas asignadas.
        Se puede borrar.
        <input id="actuar" type="submit" name="borrar" value="Borrar">
    </p>
    {% endif %}

    </form>

    <h3>Cargas durante el cuatrimestre</h3>
    <table id="cargas_docentes">
        <thead>
            <tr>
                <th>Turno</th>
                <th>Cargo</th>
            </tr>
        </thead>
        {% for carga in cargas.all %}
        <tr>
            <td> {{ carga.turno }} </td>
            <td> {{ carga.cargo }} </td>
        </tr>
        {% endfor %}
    </table>

</body>

