<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'materias/general.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'materias/horarios.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'materias/administrar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'materias/jquery.typeahead.min.css' %}">


<link rel="stylesheet" type="text/css" href="{% static 'dborrador/jquery-ui.min.css' %}">
<script src="{% static 'dborrador/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'dborrador/jquery-ui.min.js' %}"></script>
<script src="{% static 'materias/scripts.js' %}"></script>
<script src="{% static 'materias/jquery.typeahead.min.js' %}"></script>

<head>
    <h2>
        Administrar docentes
    </h2>
</head>
<body>

    <script>
        $(function() {
            var laurl = "{% url 'materias:administrar_un_docente' 314159265 %}";
            $('.js-typeahead').typeahead({
                order: "asc",
                display: ["nombre"],
                source: {
                    data: {{ lista|safe }}
                },
                callback: {
                    onNavigateAfter: function (node, lis, a, item, query, event) {
                        if (~[38,40].indexOf(event.keyCode)) {
                            var resultList = node.closest("form").find("ul.typeahead__list"),
                                activeLi = lis.filter("li.active"),
                                offsetTop = activeLi[0] && activeLi[0].offsetTop - (resultList.height() / 2) || 0;
                            resultList.scrollTop(offsetTop);
                        }
                    },
                    onClickAfter: function (node, a, item, event) {
                        event.preventDefault();
                        window.location = laurl.replace("314159265", item.id)
                    },
                    onMouseEnter: function (node, a, item, event) {
                        if (item.group === "country") {
                            $(a).append('<span class="flag-chart flag-' + item.display.replace(' ', '-').toLowerCase() + '"></span>')
                        }
                    },
                    onMouseLeave: function (node, a, item, event) {
                        $(a).find('.flag-chart').remove();
                    }
                }
            })
        })
    </script>


    <form>
        <div class="typeahead__container">
            <div class="typeahead__field">
                <div class="typeahead__query">
                    <input class="js-typeahead"
                           name="q"
                           autocomplete="off">
                </div>
                <div class="typeahead__button">
                    <button type="submit">
                        <span class="typeahead__search-icon"></span>
                    </button>
                </div>
            </div>
        </div>
    </form>

    <div id="actuar">
        <a href="{% url 'materias:administrar' %}#docentes">Volver a: administrar</a>
    </div>

    <form action="{% url 'materias:administrar_docentes' %}" method="post">
    {% csrf_token %}

    <div id="tabs">
        <ul>
            {% for tipo in docentes %}
            <li><a href="#tipo_{{ tipo.0 }}">{{ tipo.1 }}</a></li>
            {% endfor %}
        </ul>


        {% for tipo, docentes_tipo in docentes.items %}

        <div id="tipo_{{ tipo.0 }}">
            <table class="sin_borde">
                {% for docente in docentes_tipo %}
                <tr>
                    <td> <input type="checkbox" name="juntar_{{ docente.id }}"> </td>
                    <td> <a href="{% url 'materias:administrar_un_docente' docente.id %}"> {{ docente.apellido_nombre }} </a> </td>
                    <td> {{ docente.cargos_largos|join:", " }} </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        
        {% endfor %}
    </div>

    <input id="actuar" type="submit" name="juntar" value="juntar">
    <input id="actuar" type="submit" name="cambiar_cargo" value="cambiar cargo">
    <input id="actuar" type="submit" name="agregar" value="agregar un docente nuevo">
    </form>
</body>
