<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'materias/horarios.css' %}">

<head>
    Página para administrar algunos recursos
</head>
<body>

<form action="{% url 'materias:administrar' %}" method="post">
{% csrf_token %}

    Año: 
    <select name="anno">
        {% for a in annos %}
        <option value="{{ a }}">{{ a }}</option>
        {% endfor %}
    </select>
    Cuatrimestre: 
    <select name="cuatrimestre">
        {% for c in cuatrimestres %}
        <option value="{{ c.name }}">{{ c.value }}</option>
        {% endfor %}
    </select>
            
    <ul id=administrar_listado>
        <li>
            <div class="subtitulo">Administrar turnos: alumnos, aulas y pabellones</div>
            <input type="submit" name="turnos_alumnos" value="alumnos, aulas y pabellones">
        </li>
        <li>
            <div class="subtitulo">Administrar turnos: necesidades docentes</div>
            <input type="submit" name="turnos_docentes" value="necesidades docentes">
        </li>
        <li>
            <div class="subtitulo">Administrar docentes: cargas docentes</div>
            <input type="submit" name="cargas_docentes" value="cargas docentes">
        </li>
    </ul>
</body>
