<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'materias/horarios.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'materias/administrar.css' %}">

<form action="{% url 'materias:administrar_cargas_docentes' anno cuatrimestre %}" method="post">
{% csrf_token %}

<table id=cargas_docentes>
    <thead>
        <td>Docente</td>
        <td>Cargos</td>
        <td>Asignadas</td>
        <td>Pedidas</td>
        <td>Comentarios</td>
    </thead>

    {% for docente, cargas_pedidas in diferencias.items %}
    <tr>
        <td id=docente>
            <a href="{% url 'materias:administrar_cargas_un_docente' anno cuatrimestre docente.id %}">{{ docente }}</a>
        </td>
        <td>{{ docente.cargos|join:", " }}</td>
        <td>{{ cargas_pedidas.0 }}</td>
        <td>{{ cargas_pedidas.1 }}</td>
        <td id=comentario>{{ cargas_pedidas.2.comentario|linebreaksbr }}</td>
    </tr>
    {% endfor %}
</table>

</form>
