<!DOCTYPE html>
{% load static %}
{% load materias_tags %}

<link rel="stylesheet" type="text/css" href="{% static 'materias/horarios.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'materias/administrar.css' %}">

<h1>Cambiar cargas ya publicadas</h1>
<a href="{% url 'materias:administrar' %}">Volver a administrar materias</a>

<h2>Cargas con turno asignado</h2>
<table id="cargas_docentes">
    <thead>
        <tr>
            <td>Docente</td> <td>Cargo</td>
            <td>Turno</td>
            <td>Materia</td>
        </tr>
    </thead>
    <tbody>
        {% for carga in distribuidas %}
        <tr>
            <td><a href="{% url 'materias:cambiar_una_carga_publicada' carga.id %}">{{ carga.docente }}</a></td>
            <td>{{ carga.cargo|cargo_nombre_largo }}
            <td>{{ carga.turno.horarios_info.tipoynumero }}</td>
            <td>{{ carga.turno.materia }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Cargas sin asignación</h2>

<table id="cargas_docentes">
    <thead>
        <tr>
            <td>Docente</td> <td>Cargo</td>
        </tr>
    </thead>
    <tbody>
        {% for carga in no_distribuidas %}
        <tr>
            <td><a href="{% url 'materias:cambiar_una_carga_publicada' carga.id %}">{{ carga.docente }}</a></td>
            <td>{{ carga.cargo|cargo_nombre_largo }}
        </tr>
        {% endfor %}
    </tbody>
</table>
