<!DOCTYPE html>
{% load static %}
{% load materias_tags %}

<link rel="stylesheet" type="text/css" href="{% static 'materias/general.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'materias/horarios.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'materias/administrar.css' %}">

<head>
    <h2>Cambiar cargas ya publicadas para {{ anno }}, cuatrimestre {{ cuatrimestre.value }}</h2>
</head>

<body>
    <form action="{% url 'materias:administrar' %}#docentes" method="post">
        {% csrf_token %}
        <input type="hidden" name="anno" value="{{ anno }}">
        <input type="hidden" name="cuatrimestre" value="{{ cuatrimestre.name }}">
        <input class="actuar" type="submit" name="administrar" value="Volver a: administrar">
    </form>
    
    <hr>
    
    <h3>Cargas con turno asignado</h3>
    <table id="cargas_docentes">
        <thead>
            <tr>
                <th>Docente</th>
                <th>Cargo</th>
                <th>Materia</th>
                <th>Turno</th>
            </tr>
        </thead>
        <tbody>
            {% for carga in distribuidas %}
            <tr>
                <td><a href="{% url 'materias:cambiar_una_carga_publicada' carga.id %}">{{ carga.docente.apellido_nombre }}</a></td>
                <td>{{ carga.cargo|cargo_nombre_largo }}
                <td>{{ carga.turno.materia }}</td>
                <td>{{ carga.turno.horarios_info.tipoynumero }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <h3>Cargas sin asignación</h3>
    
    <table id="cargas_docentes">
        <thead>
            <tr>
                <td>Docente</td> <td>Cargo</td>
            </tr>
        </thead>
        <tbody>
            {% for carga in no_distribuidas %}
            <tr>
                <td><a href="{% url 'materias:cambiar_una_carga_publicada' carga.id %}">{{ carga.docente.apellido_nombre }}</a></td>
                <td>{{ carga.cargo|cargo_nombre_largo }}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Docentes con cargo sin cargas asignadas</h3>
    <table id="cargas_docentes">
        <thead>
            <tr>
                <td>Docente</td> <td>Cargo</td>
            </tr>
        </thead>
        <tbody>
            {% for docente in sin_cargas %}
            <tr>
                <td><a href="{% url 'materias:agregar_carga_y_distribuir' docente.id anno cuatrimestre.name %}">{{ docente.apellido_nombre }}</a></td>
                <td>{{ docente.cargos|join:" - " }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
