<!DOCTYPE html>
{% load static %}
{% load materias_tags %}

<link rel="stylesheet" type="text/css" href="{% static 'materias/horarios.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'materias/administrar.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'dborrador/jquery-ui.min.css' %}">
<script src="{% static 'dborrador/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'dborrador/jquery-ui.min.js' %}"></script>
<script src="{% static 'materias/scripts.js' %}"></script>

<h1>
    Materia: <a href="{% url 'materias:administrar_materia' materia.id turno.anno turno.cuatrimestre %}">{{ materia }}</a>
</h1>
<h2>
    {{ tipoturno.value }} {{ turno.numero }}
</h2>
<h2>
    Horarios:
</h2>

<form action="{% url 'materias:cambiar_turno' turno.id %}" method="post">
{% csrf_token %}

<table id="administrar_materia">
    <thead> <tr> <td>Día</td> <td>Comienzo</td> <td>Final</td> <td>borrar</td> </tr> </thead>
    <tbody>
        {% for horario in turno.horario_set.all|dictsort:"dia" %}
        <tr>
            <td>{{ horario.dia }}</td>
            <td>{{ horario.comienzo|time:"H:i" }}</td>
            <td>{{ horario.final|time:"H:i" }}</td>
            <td><input type="button" id="borrar_horario" data-horario="{{ horario.id }}" value="Borrar horario"></td>
        </tr>
        {% endfor %}

        {% for i in turno.horario_set.all|restantes_hasta:3 %}
        <tr>
            <td>
                <select name="dia{{ i }}">
                    <option value="">------</option>
                    {% for dia in dias %}
                    <option value="{{ dia.name }}">{{ dia.value.0 }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select name="comienzo{{ i }}">
                    {% for hora in horas %}
                    <option value="{{ hora.0 }}"> {{ hora.1 }} </option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select name="final{{ i }}">
                    {% for hora in horas %}
                    <option value="{{ hora.0 }}"> {{ hora.1 }} </option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <button>Agregar horario</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</form>

<form action="{% url 'materias:cambiar_turno' turno.id %}" method="post">
{% csrf_token %}
<input type="submit" name="volver" value="volver">
</form>

<div class="borrar_horario_dialogo" url="{% url 'materias:borrar_horario' 31415926535 %}">
    ¿Confirmás que querés borrar este horario?
</div>
