<!DOCTYPE html>
{% load static %}
{% load materias_tags %}

<link rel="stylesheet" type="text/css" href="{% static 'materias/general.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'materias/horarios.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'materias/administrar.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'dborrador/jquery-ui.min.css' %}">
<script src="{% static 'dborrador/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'dborrador/jquery-ui.min.js' %}"></script>
<script src="{% static 'materias/scripts.js' %}"></script>

<h1>
    Materia: <a href="{% url 'materias:administrar_materia' materia.id turno.anno turno.cuatrimestre %}">{{ materia }}</a>
</h1>

<form action="{% url 'materias:cambiar_turno' turno.id %}" method="post">
{% csrf_token %}

<h2>
    {{ tipoturno.value }}
    <input type="number" class="numeros_chicos" name="numero_turno" min=0 max=10 value={{ turno.numero }}>
    subnúmero:
    <input type="text" class="numeros_chicos" name="subnumero_turno" value={{ turno.subnumero }}>
    (por ejemplo, (A-L). Casi siempre es vacío)
</h2>
<h2>
    Horarios:
</h2>

<table id="administrar_materia">
    <thead> <tr> <td>Día</td> <td>Comienzo</td> <td>Final</td> <td>borrar</td> </tr> </thead>
    <tbody>
        {% for horario in horarios %}
        <tr>

            <td>
                <select name="existente_{{ horario.id }}_dia">
                    <option value="">------</option>
                    {% for dia in dias %}
                        <option value="{{ dia.name }}" {% if dia.name == horario.dia %}selected{% endif %}>{{ dia.value.0 }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select name="existente_{{ horario.id }}_comienzo">
                    {% for hora in horas %}
                    <option value="{{ hora.0 }}" {% if horario.comienzo|time:"H:i" == hora.1 %}selected{% endif %}>
                        {{ hora.1 }}
                    </option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select name="existente_{{ horario.id }}_final">
                    {% for hora in horas %}
                    <option value="{{ hora.0 }}" {% if horario.final|time:"H:i" == hora.1 %}selected{% endif %}>
                        {{ hora.1 }}
                    </option>
                    {% endfor %}
                </select>
            </td>
            <td><input type="button" id="borrar_horario" data-horario="{{ horario.id }}" value="Borrar horario"></td>
        </tr>
        {% endfor %}

        {% for i in turno.horario_set.all|restantes_hasta:turnosmax %}
        <tr>
            <td>
                <select name="nuevo_{{ i }}_dia">
                    <option value="">------</option>
                    {% for dia in dias %}
                    <option value="{{ dia.name }}">{{ dia.value.0 }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select name="nuevo_{{ i }}_comienzo">
                    {% for hora in horas %}
                    <option value="{{ hora.0 }}"> {{ hora.1 }} </option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select name="nuevo_{{ i }}_final">
                    {% for hora in horas %}
                    <option value="{{ hora.0 }}"> {{ hora.1 }} </option>
                    {% endfor %}
                </select>
            </td>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<input type="submit" name="cambiar" value="cambiar / agregar">
<input type="submit" name="cancelar" value="cancelar / volver">
</form>

<div class="borrar_horario_dialogo" url="{% url 'materias:borrar_horario' 31415926535 %}">
    ¿Confirmás que querés borrar este horario?
</div>
