<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'materias/general.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'materias/horarios.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'materias/administrar.css' %}">

<head>
    <h2>Cargas docentes para {{ anno }}</h2>
</head>

<body>

    <div id="actuar">
        <a href="{% url 'materias:administrar' %}#docentes">Cancelar</a>
    </div>

    <hr>
    <form action="{% url 'materias:cargas_docentes_anuales' anno %}" method="post">
    {% csrf_token %}

    {% if generar_cargas %}
    <h2>Ningún docente tiene cargas para {{ anno }}</h2>
    Podemos generar automáticamente cargas desde este botón:
    <input class="actuar" type="submit" name="generar" value="Generar cargas para {{ anno }}">
    {% endif %}

    {% for tipo, tipo_cargas in cargas.items %}
        <h3>{{ tipo.value }}</h3>
        <table id="cargas" class="tabla_numeros_chicos">
            <thead>
                <tr>
                    <th>Docente</th>
                    <th>Cargo</th>
                    <th>Verano</th>
                    <th>Primero</th>
                    <th>Segundo</th>
                </tr>
            </thead>
            {% for doc_carga, cantidades in tipo_cargas.items %}
            <tr>
                <td>{{ doc_carga.0 }}</td>
                <td>{{ doc_carga.1 }}</td>
                <td> <input type="number" name="cargas_{{ doc_carga.0.id }}_{{ doc_carga.1}}_V" min=0 max=4 value={{ cantidades.0 }}> </td>
                <td> <input type="number" name="cargas_{{ doc_carga.0.id }}_{{ doc_carga.1}}_P" min=0 max=4 value={{ cantidades.1 }}> </td>
                <td> <input type="number" name="cargas_{{ doc_carga.0.id }}_{{ doc_carga.1}}_S" min=0 max=4 value={{ cantidades.2 }}> </td>
            </tr>
            {% endfor %}
        </table>
    {% endfor %}

    <hr>
    <input class="actuar" type="submit" name="salvar" value="salvar">

    </form>
</body>
