<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'materias/general.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'materias/horarios.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'materias/administrar.css' %}">

<head>
    <h2>Cargas docentes para {{ anno }}</h2>
</head>

<body>
    <div id="actuar">
        <a href="{% url 'materias:administrar' %}#docentes">Cancelar</a>
    </div>

    <hr>
    <form action="{% url 'materias:cargas_docentes_anuales' anno %}" method="post">
    {% csrf_token %}

    {% if generar_cargas %}
    <h2>Ningún docente tiene cargas para {{ anno }}</h2>
    Podemos generar automáticamente cargas desde este botón:
    <input class="actuar" type="submit" name="generar" value="Generar cargas para {{ anno }}">
    {% endif %}

    {% for tipo, tipo_cargas in cargas.items %}
        <h3>{{ tipo.value }}</h3>
        <table id="cargas" class="tabla_numeros_chicos">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th class="borde_izquierda" colspan=2>Verano</th>
                    <th class="borde_izquierda" colspan=2>Primero</th>
                    <th class="borde_izquierda" colspan=2>Segundo</th>
                    <th class="borde_izquierda"></th>
                </tr>
                <tr>
                    <th>Docente</th>
                    <th>Cargo</th>
                    <th class="borde_izquierda">Tiene</th>
                    <th>Pidió</th>
                    <th class="borde_izquierda">Tiene</th>
                    <th>Pidió</th>
                    <th class="borde_izquierda">Tiene</th>
                    <th>Pidió</th>
                    <th class="borde_izquierda">Comentario</th>
                </tr>
            </thead>
            {% for doc_cargo, cantidades in tipo_cargas.items %}
            <tr>
                <td>{{ doc_cargo.0 }}</td>
                <td>{{ doc_cargo.1 }}</td>

                <td class="borde_izquierda">
                    <input type="number" name="cargas_{{ doc_cargo.0.id }}_{{ doc_cargo.1}}_V" min=0 max=4
                                         value={{ cantidades.0.asignadas }}>
                </td>
                <td>
                    <span id="cantidad">
                        {% if cantidades.0.pedidas.count %}
                        <mark id="{% if cantidades.0.asignadas == cantidades.0.pedidas.last.cargas %}bien{% else %}mal{% endif %}">
                            {{ cantidades.0.pedidas.last.cargas }}
                        </mark>
                        {% endif %}
                    </span>
                </td>

                <td class="borde_izquierda">
                    <input type="number" name="cargas_{{ doc_cargo.0.id }}_{{ doc_cargo.1}}_P" min=0 max=4
                                         value={{ cantidades.1.asignadas }}>
                </td>
                <td>
                    <span id="cantidad">
                        {% if cantidades.1.pedidas.count %}
                        <mark id="{% if cantidades.1.asignadas == cantidades.1.pedidas.last.cargas %}bien{% else %}mal{% endif %}">
                            {{ cantidades.1.pedidas.last.cargas }}
                        </mark>
                        {% endif %}
                    </span>
                </td>

                <td class="borde_izquierda">
                    <input type="number" name="cargas_{{ doc_cargo.0.id }}_{{ doc_cargo.1}}_S" min=0 max=4
                                         value={{ cantidades.2.asignadas }}>
                </td>
                <td>
                    <span id="cantidad">
                        {% if cantidades.2.pedidas.count %}
                        <mark id="{% if cantidades.2.asignadas == cantidades.2.pedidas.last.cargas %}bien{% else %}mal{% endif %}">
                            {{ cantidades.2.pedidas.last.cargas }}
                        </mark>
                        {% endif %}
                    </span>
                </td>
                <td class="borde_izquierda">
                    {% if cantidades.3|length %}
                        <div class="tooltip">
                            {{ cantidades.3|truncatewords:9 }}
                            <span class="tooltiptext">
                                {{ cantidades.3 }}
                            </span>
                        </div>
                    {% endif %}
                </td>

            </tr>
            {% endfor %}
        </table>
    {% endfor %}

    <hr>
    <input class="actuar" type="submit" name="salvar" value="salvar">

    </form>
</body>
