<!DOCTYPE html>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'materias/horarios.css' %}">

{% for tipo, lista in materias %}

<div class="seccion">{{ tipo }}</div>

    {% for materia, turnos in lista %}

    {% if turnos %}
    <table class="horarios">
        <caption>{{ materia.nombre.upper }}</caption>
        <tbody>
        {% for turno in turnos %}
            <tr>
                <td class="fondo{{ turno.tipo }}">{{ turno.horarios_info.tipoynumero }}</td>
                <td class="diayhora">{{ turno.horarios_info.diayhora }}</td>
                <td class="datosdoc">{{ turno.docentes }}</td>
                <td class="aula">Aula: {{ turno.horarios_info.aula }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% endfor %}

{% endfor %}
