<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'materias/general.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'materias/horarios.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'materias/administrar.css' %}">

<head>
<h2>
    Juntar o agregar materias
</h2>
</head>

<body>
    <div id="actuar">
        <a href="{% url 'materias:administrar' %}">Volver a administrar</a>
    </div>

    <form action="{% url 'materias:retocar_materias' %}" method="post">
        {% csrf_token %}

       {% for obligatoriedad, o_materias in materias.items %}
        <hr>
        <div class="seccion">
            {{ obligatoriedad|capfirst }}
        </div>
        <ul>
            {% for materia in o_materias %}
            <li>
                <input type="checkbox" name="juntar_{{ materia.id }}">
                <a href="{% url 'materias:modificar_materia' materia.id %}">{{ materia }}</a>
            </li>
            {% endfor %}
        </ul>

        {% endfor %}
        <input id=actuar type="submit" name="juntemos" value="juntar">
        <input id=actuar type="submit" name="agreguemos" value="agregar una materia">
    </form>
</body>
