<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'materias/general.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'materias/horarios.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'materias/administrar.css' %}">

<head>
<h2>
    Juntar materias que por error figuran como dos distintas
</h2>
</head>

<body>
    <div id="actuar">
        <a href="{% url 'materias:administrar' %}">Volver a administrar materias</a>
    </div>

    <form action="{% url 'materias:juntar_materias' %}" method="post">
        {% csrf_token %}

        {% for obligatoriedad, o_materias in materias.items %}
        <hr>
        <div class="seccion">
            {{ obligatoriedad.value|capfirst }}
        </div>
        <ul>
            {% for materia in o_materias %}
            <li>
                <input type="checkbox" name="juntar_{{ materia.id }}">
                {{ materia }}
            </li>
            {% endfor %}
        </ul>

        {% endfor %}
        <input id=actuar type="submit" name="juntemos" value="juntar">
    </form>
</body>
