<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'materias/general.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'materias/administrar.css' %}">

<head>
    <h2>
        {{ materia.nombre }}
    </h2>
</head>

<body>
    <div id="actuar">
        <a href="{% url 'materias:retocar_materias' %}">Cancelar</a>
    </div>
    <form action="{% url 'materias:modificar_materia' materia.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input id="actuar" type="submit" name="salvar" value="salvar">

        {% if not materia.turno_set.count %}
        <p>
            Esta materia no se dictó nunca. Se puede borrar.
            <input id="actuar" type="submit" name="borrar" value="Borrar">
        </p>
        {% endif %}
    </form>
</body>
