<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'materias/general.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'materias/horarios.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'materias/administrar.css' %}">

<head><h2>Modificar materias</h2></head>
<body>
    <div id="actuar">
        <a href="{% url 'materias:administrar' %}">Volver</a>
    </div>

        {% for obligatoriedad, o_materias in materias.items %}
        <hr>
        <div class="seccion">
            {{ obligatoriedad|capfirst }}
        </div>
        <ul class="separados">
            {% for materia in o_materias %}
            <li>
                <a class="muchos" href="{% url 'materias:modificar_materia' materia.id %}">{{ materia }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
</body>
